.navbar-light{
    box-shadow: 0 0 32px -4px rgb(0 0 0 / 15%);
    background-color: #fff !important;
    border-bottom: 1px;
    border-color: #e2e8f0;
}

.navbar-brand {
    img {
        width: 40px;
        height: 40px;
    }
}

.navbar {
    h1 {
        font-size: 1rem;
        margin: 0;
    }
    p {
        font-size: .875rem;
        margin: 0;
    }

    .navbar-nav.mr-0{
        margin-right: 0 !important;
    }

    .nav-item.mr-0 {
        margin-right: 0 !important;
    }
}