<header class="bg-light navbar-light fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-sm">
                    <!-- Brand -->
                    <a class="navbar-brand mr-auto d-flex align-items-center" routerLink="/">
                        <img src="assets/img/logo.jpg" alt="logo image">
                        <div class="d-inline-block mx-3">
                            <h1>Pusat Informasi & Koordinasi COVID-19</h1>
                            <p>Provinsi Jawa Barat</p>
                        </div>
                    </a>
                
                    <!-- Links -->
                    <ul class="navbar-nav mx-auto mr-0">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/news">Berita</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Vaksinasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Kontak</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Donasi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Bantuan Sosial</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><fa-icon [icon]="faBell"></fa-icon></a>
                        </li>
                
                        <!-- Dropdown -->
                        <li class="nav-item mx-2 mr-0">
                            <a class="btn btn-success text-light" href="#">Download App</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>