app-chart-umur {
    position: relative;
    height: inherit;
    width: inherit;

    .loading-container {
        width: 100%;
        height: 100%;

        .skeleton {
            height: 100%;
        }
    }

    #chart-umur {
        height: inherit;
        width: inherit;
        position: relative;

        .bar--perempuan {
            fill: #f6d039;
        }

        .bar--perempuan:hover {
            fill: #776416;
        }

        .bar--laki_laki {
            fill: #2dac55;
        }
        
        .bar--laki_laki:hover {
            fill: #1d3f17;
        }
        
        .legend--perempuan {
            fill: #f6d039;
        }
        
        .legend--laki_laki {
            fill: #2dac55;
        }

        .axis--x {
            path {
                display: none;
            }

            .tick {
                line {
                    stroke: #f5f5f5;
                }
            }
        }

        .axis--y.axis-label path{
            display: none;
        }
        
        text {
            font: 10px sans-serif;
        }
    }
}
  
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
    -webkit-box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
    -moz-box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
}