.sum-heading {
    h2 {
        font-size: 1.5rem;
        font-weight: 900;
    }
}

.card-news {
    .news-title {
        color: #5aaa4e;
        text-decoration: none;
        font-size: 1.5rem;
    }

    .news-title:hover {
        text-decoration: underline;
    }

    .news-date {
        font-size: 16px;
    }

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
}