<div class="container mt-5">
    <div class="row sum-heading mb-3">
        <div class="col-12">
            <h2>Berita</h2>
            <p class="text-muted">Update Terakhir: Kamis, 3 Jun 2021 08:00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ng-container *ngIf="!loading">
                <div *ngFor="let berita of dataBerita" class="card card-news mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <a [routerLink]="['/news']" [queryParams]="{article: berita.slug}" class="news-title">
                                    <strong>{{ berita.title }}</strong>
                                </a>
                                <small class="news-date d-block mt-2 mb-3">{{ berita.date }}</small>
                                <p>
                                    {{ berita.content }}
                                </p>
                            </div>
                            <div class="col-4">
                                <div class="img-container">
                                    <img [src]="berita.img" alt="cover berita">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="loading">
                <div *ngFor="let berita of [1,2,3]" class="card card-news mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="skeleton skeleton-line w-100"
                                    style="
                                        --lines: 5;
                                        --c-bg: transparent;
                                        --bg: #f5f5f5;
                                        --shine: #fff;"></div>
                            </div>
                            <div class="col col-auto">
                                <div class="skeleton skeleton-image round" 
                                style="
                                    --i-w: 200px;
                                    --c-bg: #f8f7fc;
                                "></div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
