app-chart-terkonfirmasi {
  position: relative;

  .loading-container {
    width: 100%;
    height: 100%;

    .skeleton {
      height: 100%;
    }
  }

  #chart-terkonfirmasi {
    height: inherit;
    width: inherit;
    position: relative;

    .bar {
        fill: #5aaa4e;
    }
    
    .bar:hover {
        fill: #1d3f17;
    }
  
    .line {
      fill: none;
      stroke: #ffab00;
      stroke-width: 2;
    }
    
    .dot {
      fill: transparent;
      stroke: transparent;
    }

    .dot:hover {
      fill: #ffab00;
      stroke: #fff;
    }

    .axis--y {
        path {
          display: none;
        }

        .tick {
          line {
            stroke: #dcdcdc;
          }
        }
    }

    .grid {
      path {
        display: none;
      }

      .tick {
        line {
          stroke: #f5f5f5;
        }
      }
    }

    .chart-label {
      font-family: "arial";
      font-weight: 600;
      font-size: 10px;
      stroke-width: .2px;
      stroke: white;
      color: black;
    }
  }
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 10px 15px;
  font: 12px sans-serif;
  background: #fff;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
  -webkit-box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
  -moz-box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
}