app-chart-jenis-kelamin {
    #chart-jenis-kelamin {
      height: inherit;
      width: inherit;

      .pie-laki_laki:hover {
        fill: #1d3f17;
      }

      .pie-perempuan:hover {
        fill: #776416;
      }
      
    }
  }
  
  div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
  }