<div #chartJK id="chart-jenis-kelamin" (window:resize)="onResize($event)">
    <div *ngIf="loading" class="d-flex justify-content-center loading-container">
        <div class="skeleton skeleton-circle" 
          style="
            --c-s: 340px;
            --c-pos: top;
            --bg: #f5f5f5;
            --shine: #fff;"></div>
    </div>
</div>