.map-container {
    position: relative;

    .loading-container {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .map {
        height: 400px;
        padding: 0;
    }

    .map-controls {
        position: absolute;
        right: 16px;
        top: 10px;
        z-index: 999;

        #dropdownAction:after {
            display: none;
        }
    }

    .map-description {
        position: absolute;
        left: 25px;
        top: 10px;
        z-index: 999;

        .map-title {
            border: 2px solid rgba(206,181,28,.9);
            background: rgba(206,181,70,.9);
            color: #fff;
            padding: .5rem;
            border-radius: .25rem;
            font-size: 16px;
        }

        .map-kasus {
            border: 2px solid #4a5568;
            background-color: #4a5568;
            color: #fff;
            padding: .5rem;
            border-radius: .25rem;
            font-size: 16px;
        }
    }
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px 15px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
    -webkit-box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
    -moz-box-shadow: 0px 20px 26px -8px rgba(54,53,53,0.16);
  }