/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "skeletons";
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'Product Sans';
    src: url('assets/fonts/product-sans/Product Sans Regular.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Product Sans';
    src: url('assets/fonts/product-sans/Product Sans Bold.ttf');
    font-weight: 900;
}

* {
    font-family: 'Product Sans';
}

body {
    background-color: #f7fafc;
}

.card {
    border: 1px solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    border-radius: .5rem;

    .card-header {
        background: transparent;
        padding: 16px 24px;

        h3 {
            margin: 0;
            font-size: 1.25rem;
            font-weight: 900;
        }
    }

    .card-body {
        padding: 20px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1280px;
    }
}
