<div class="container mt-5">
    <div class="row sum-heading mb-3">
        <div class="col-12">
            <h2>Angka Kejadian di Jawa Barat</h2>
            <p class="text-muted">Update Terakhir: Kamis, 3 Jun 2021 08:00</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12">
            <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>Rekapitulasi</a>
                    <ng-template ngbNavContent>
                        <div class="row mb-3">
                            <div class="col-lg-3">
                                <div class="card card-sum bg-primary mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center">TOTAL TERKONFIRMASI</h3>
                                        
                                        <div *ngIf="loading" class="d-flex justify-content-center">
                                            <div class="skeleton skeleton-line"
                                                style="
                                                    --lines: 3;
                                                    --c-bg: transparent;
                                                    --bg: rgba(255, 255, 255,.6);
                                                    --shine: #fff;"></div>
                                        </div>
                                        <div *ngIf="!loading" class="row">
                                            <div class="col-6 text-center">
                                                <p class="location">Jawa Barat</p>
                                                <p class="count">315.771</p>
                                                <p class="growth"><fa-icon [icon]="faAngleDoubleUp"></fa-icon> 930</p>
                                            </div>
                                            <div class="col-6 text-center">
                                                <p class="location">Indonesia</p>
                                                <p class="count">1.831.773</p>
                                                <p class="growth"><fa-icon [icon]="faAngleDoubleUp"></fa-icon> 5246</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-sum mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center">ISOLASI/DALAM PERAWATAN</h3>
                                        <div *ngIf="loading" class="d-flex justify-content-center">
                                            <div class="skeleton skeleton-line"
                                                style="
                                                    --lines: 3;
                                                    --c-bg: transparent;
                                                    --bg: #f5f5f5;
                                                    --shine: #fff;"></div>
                                        </div>
                                        <div *ngIf="!loading" class="row">
                                            <div class="col-6 text-center">
                                                <p class="location">Jawa Barat</p>
                                                <p class="count text-secondary">26.749</p>
                                                <p class="growth text-secondary"><fa-icon [icon]="faAngleDoubleDown"></fa-icon> -1969</p>
                                            </div>
                                            <div class="col-6 text-center">
                                                <p class="location">Indonesia</p>
                                                <p class="count text-secondary">100.364</p>
                                                <p class="growth text-secondary"><fa-icon [icon]="faAngleDoubleDown"></fa-icon> -961</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-sum mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center">SELESAI ISOLASI/SEMBUH</h3>
                                        <div *ngIf="loading" class="d-flex justify-content-center">
                                            <div class="skeleton skeleton-line"
                                                style="
                                                    --lines: 3;
                                                    --c-bg: transparent;
                                                    --bg: #f5f5f5;
                                                    --shine: #fff;"></div>
                                        </div>
                                        <div *ngIf="!loading" class="row">
                                            <div class="col-6 text-center">
                                                <p class="location">Jawa Barat</p>
                                                <p class="count text-success">284.791</p>
                                                <p class="growth text-success"><fa-icon [icon]="faAngleDoubleUp"></fa-icon> 2877</p>
                                            </div>
                                            <div class="col-6 text-center">
                                                <p class="location">Indonesia</p>
                                                <p class="count text-success">1.680.501</p>
                                                <p class="growth text-success"><fa-icon [icon]="faAngleDoubleUp"></fa-icon> 6022</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="card card-sum mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center">MENINGGAL </h3>
                                        <div *ngIf="loading" class="d-flex justify-content-center">
                                            <div class="skeleton skeleton-line"
                                                style="
                                                    --lines: 3;
                                                    --c-bg: transparent;
                                                    --bg: #f5f5f5;
                                                    --shine: #fff;"></div>
                                        </div>
                                        <div *ngIf="!loading" class="row">
                                            <div class="col-6 text-center">
                                                <p class="location">Jawa Barat</p>
                                                <p class="count text-danger">4.231</p>
                                                <p class="growth text-danger"><fa-icon [icon]="faAngleDoubleUp"></fa-icon> 22</p>
                                            </div>
                                            <div class="col-6 text-center">
                                                <p class="location">Indonesia</p>
                                                <p class="count text-danger">50.908</p>
                                                <p class="growth text-danger"><fa-icon [icon]="faAngleDoubleUp"></fa-icon> 185</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-lg-4 mb-md-4 mb-lg-0">
                                <div class="card h-100 card-sum mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center">KONTAK ERAT <fa-icon [icon]="faInfoCircle"></fa-icon></h3>
                                        <div *ngIf="loading" class="d-flex justify-content-center">
                                            <div class="skeleton skeleton-line"
                                                style="
                                                    --lines: 3;
                                                    --c-bg: transparent;
                                                    --bg: #f5f5f5;
                                                    --shine: #fff;"></div>
                                        </div>
                                        <div *ngIf="!loading" class="row">
                                            <div class="col-12 text-center">
                                                <p class="count text-muted">428.294</p>
                                                <p class="growth text-muted mb-3">Total Kontak Erat</p>
    
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <p class="count-2 text-secondary m-0">10.150</p>
                                                        <p class="percentage text-secondary m-0">(2.37%)</p>
                                                        <p class="description text-muted">Masih Dikarantina</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="count-2 text-muted m-0">432.031</p>
                                                        <p class="percentage text-muted m-0">(97.63%)</p>
                                                        <p class="description text-muted">Discarded <fa-icon [icon]="faInfoCircle"></fa-icon></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-md-4 mb-lg-0">
                                <div class="card h-100 card-sum mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center">SUSPEK <fa-icon [icon]="faInfoCircle"></fa-icon></h3>
                                        <div *ngIf="loading" class="d-flex justify-content-center">
                                            <div class="skeleton skeleton-line"
                                                style="
                                                    --lines: 3;
                                                    --c-bg: transparent;
                                                    --bg: #f5f5f5;
                                                    --shine: #fff;"></div>
                                        </div>
                                        <div *ngIf="!loading" class="row">
                                            <div class="col-12 text-center">
                                                <p class="count text-muted">175.560</p>
                                                <p class="growth text-muted mb-3">Total Suspek</p>
    
                                                <div class="row mb-3">
                                                    <div class="col-6">
                                                        <p class="count-2 text-secondary m-0">4.514</p>
                                                        <p class="percentage text-secondary m-0">(2.54%)</p>
                                                        <p class="description text-muted">Isolasi/Dalam Perawatan</p>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="count-2 text-muted m-0">173.045</p>
                                                        <p class="percentage text-muted m-0">(97.46%)</p>
                                                        <p class="description text-muted">Discarded <fa-icon [icon]="faInfoCircle"></fa-icon></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 mb-md-4 mb-lg-0">
                                <div class="card h-100 card-sum mb-3">
                                    <div class="card-body">
                                        <h3 class="text-center">PROBABLE <fa-icon [icon]="faInfoCircle"></fa-icon></h3>
                                        <div *ngIf="loading" class="d-flex justify-content-center">
                                            <div class="skeleton skeleton-line"
                                                style="
                                                    --lines: 3;
                                                    --c-bg: transparent;
                                                    --bg: #f5f5f5;
                                                    --shine: #fff;"></div>
                                        </div>
                                        <div *ngIf="!loading" class="row">
                                            <div class="col-12 text-center">
                                                <p class="count text-muted">4.559</p>
                                                <p class="growth text-muted mb-3">Total Probable</p>
    
                                                <div class="row mb-3">
                                                    <div class="col-4">
                                                        <p class="count-2 text-secondary m-0">103</p>
                                                        <p class="percentage text-secondary m-0">(2.21%)</p>
                                                        <p class="description text-muted">Isolasi/Dalam Perawatan</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <p class="count-2 text-success m-0">3.007</p>
                                                        <p class="percentage text-success m-0">(64.64%)</p>
                                                        <p class="description text-muted">Selesai Isolasi/Sembuh</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <p class="count-2 text-danger m-0">1.542</p>
                                                        <p class="percentage text-danger m-0">(33.15%)</p>
                                                        <p class="description text-muted">Meninggal</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-5 mb-5">
                            <div class="col-lg-8 mb-md-4 mb-lg-0">
                                <div class="card card-rdt card-rdt-antigen mb-4">
                                    <div class="card-body">
                                        <h3>Rapid Diagnostic Test (RDT) Antigen</h3>
                                        <p class="mb-4">Rapid Test Antigen merupakan tes diagnostik cepat untuk mengidentifikasi orang yang terinfeksi virus Covid-19 dengan mendeteksi adanya materi genetik atau protein spesifik dari virus Covid-19 dalam tubuh seseorang.</p>
                                        <div class="row mb-4 align-items-end">
                                            <div class="col-lg-3">
                                                <h4>271.159</h4>
                                                <p>Jumlah RDT <fa-icon [icon]="faInfoCircle"></fa-icon></p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4>20.592 <small>(7,59%)</small></h4>
                                                <p>Positif</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4>250.567 <small>(92,41%)</small></h4>
                                                <p>Negatif</p>
                                            </div>
                                        </div>
                                        <p class="m-0">Update Terakhir: Selasa, 08 Jun 2021</p>
                                    </div>
                                </div>
                                <div class="card card-rdt card-rdt-antibodi">
                                    <div class="card-body">
                                        <h3>Rapid Diagnostic Test (RDT) Antibodi</h3>
                                        <p class="mb-4">Rapid Test Antibodi atau test diagnostik cepat berdasarkan antibodi merupakan skrining medis awal untuk mendeteksi adanya kandungan antibodi virus Covid-19 dalam darah. Pada hasil RDT yang Reaktif akan dilakukan pemeriksaan konfirmasi lebih lanjut dengan metode Polymerase Chain Reaction (PCR).</p>
                                        <div class="row mb-4 align-items-end">
                                            <div class="col-lg-3">
                                                <h4>455.175</h4>
                                                <p>Jumlah RDT <fa-icon [icon]="faInfoCircle"></fa-icon></p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4>8.856 <small>(1,95%)</small></h4>
                                                <p>Reaktif</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4>446.319 <small>(98,05%)</small></h4>
                                                <p>Non Reaktif</p>
                                            </div>
                                            <div class="col-lg-3">
                                                <h4>0 <small>(0%)</small></h4>
                                                <p>Invalid</p>
                                            </div>
                                        </div>
                                        <p class="m-0">Update Terakhir: Senin, 28 Des 2020</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-test-masif">
                                    <div class="card-body">
                                        <div class="text-center p-3 mb-2">
                                            <img src="assets/img/illustrasi-rdt.svg" alt="illustrasi RDT">
                                        </div>
                                        <div class="p-3">
                                            <h3 class="mb-4">Jika Anda ingin mengikuti Tes Masif Covid-19, daftarkan diri Anda di sini</h3>
                                            <button class="btn btn-success">Daftar Test Masif</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-5">
                            <div class="col-lg-12">
                                <div class="card card-pcr">
                                    <div class="card-body">
                                        <div class="p-3">
                                            <div class="row">
                                                <div class="col-lg-6 mb-md-4 mb-lg-0 text-center">
                                                    <h3 class="mb-4"><strong>Tes PCR (Orang Kasus Baru)</strong></h3>
                                                    <div class="row mb-4">
                                                        <div class="col-12">
                                                            <h3>1.082.204</h3>
                                                            <span>Total Orang</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-4">
                                                            <h3>246.816 <small>(22.81%)</small></h3>
                                                            <span>Positif</span>
                                                        </div>
                                                        <div class="col-4">
                                                            <h3>830.737 <small>(76.76%)</small></h3>
                                                            <span>Negatif</span>
                                                        </div>
                                                        <div class="col-4">
                                                            <h3>4.651 <small>(0.43%)</small></h3>
                                                            <span>Inkonklusif</span>
                                                        </div>
                                                    </div>
                                                    <div class="row disclaimer">
                                                        <div class="col-12">
                                                            <p>Disclaimer :</p>
                                                            <p>Angka Tes PCR (Orang Kasus Baru) didapatkan dari pemrosesan link and match identitas unik individu dari database Allrecord TC-19 dan Labkes Jabar.</p>
                                                            <p class="m-0">Update Terakhir: Jumat, 04 Jun 2021</p>
                                                        </div>
                                                    </div>
                                                    <hr class="d-md-block d-lg-none">
                                                </div>
                                                <div class="col-lg-6 text-center">
                                                    <h3 class="mb-4"><strong>Tes PCR (Spesimen)</strong></h3>
                                                    <div class="row mb-4">
                                                        <div class="col-12">
                                                            <h3>1.249.255</h3>
                                                            <span>Total Spesimen</span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-4">
                                                        <div class="col-4">
                                                            <h3>272.446 <small>(21.81%)</small></h3>
                                                            <span>Positif</span>
                                                        </div>
                                                        <div class="col-4">
                                                            <h3>968.434 <small>(77.52%)</small></h3>
                                                            <span>Negatif</span>
                                                        </div>
                                                        <div class="col-4">
                                                            <h3>8.375 <small>(0.67%)</small></h3>
                                                            <span>Inkonklusif</span>
                                                        </div>
                                                    </div>
                                                    <div class="row disclaimer">
                                                        <div class="col-12">
                                                            <p>Disclaimer :</p>
                                                            <p>Jumlah tes PCR yang ditampilkan bersumber dari database Labkes Jabar dan Allrecord TC-19. Angka belum sepenuhnya merefleksikan jumlah spesimen di Jawa Barat secara real-time.</p>
                                                            <p class="m-0">Update Terakhir: Selasa, 08 Jun 2021</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mb-3">
                            <div class="col">
                                <h3><b>Sebaran Kasus Covid-19 di Jawa Barat</b></h3>
                            </div>
                            <div class="col col-auto">
                                <select [ngModel]="selectedKota" class="form-control" id="level" (ngModelChange)="getKecamatan($event)">
                                    <option value="32">JAWA BARAT</option>
                                    <option [value]="wilayah.kode_bps" *ngFor="let wilayah of dataWilayah">{{ wilayah.nama_wilayah }}</option>
                                </select>
                            </div>
                            <div class="col col-auto">
                                <select [ngModel]="selectedKecamatan" class="form-control" id="kecamatan" (ngModelChange)="getKelurahan($event)">
                                    <option value="">PILIH KECAMATAN</option>
                                    <option [value]="wilayah.kode_bps" *ngFor="let wilayah of dataKecamatan">{{ wilayah.nama_wilayah }}</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="row mb-5">
                            <div class="col-lg-7 mb-md-4 mb-lg-0">
                                <div class="card card-chart-terkonfirmasi">
                                    <div class="card-header">
                                        <h3>Peta Kasus Covid-19 di Jawa Barat</h3>
                                    </div>
                                    <div class="card-body">
                                        <app-map-sebaran-polygon #mapSebaranPolygon [dataMap]="dataSebaran" [dataRasio]="dataRasio" [dataFilters]="dataFilters" (filterSebaran)="filterRasioHandler($event)"></app-map-sebaran-polygon>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="card h-100 card-chart-rasio-terkonfirmasi">
                                    <div class="card-header">
                                        <h3>Rasio Kasus Terkonfirmasi</h3>
                                    </div>
                                    <div class="card-body">
                                        <p>Data yang ditampilkan berdasarkan: <b>Kota/Kabupaten di Jawa Barat</b></p>
                                        <app-chart-rasio-terkonfirmasi #chartRasioTerkonfirmasi [data]="dataRasio" [dataFilters]="dataFilters"></app-chart-rasio-terkonfirmasi>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-lg-6 mb-md-4 mb-lg-0">
                                <div class="card card-info card-persebaran">
                                    <div class="card-body">
                                        <div class="px-4 py-3">
                                            <h3 class="mb-4">Ketahui lebih lengkap mengenai Sebaran Kasus COVID-19 di Provinsi Jawa Barat</h3>
                                            <button class="btn btn-light">Lihat Selengkapnya <fa-icon [icon]="faAngleRight"></fa-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-info card-ketersediaan">
                                    <div class="card-body">
                                        <div class="px-4 py-3">
                                            <h3 class="mb-4">Keterisian Tempat Tidur (BOR) Berdasarkan Gejala dan Ruang Perawatan di Rumah Sakit</h3>
                                            <button class="btn btn-light">Lihat Selengkapnya <fa-icon [icon]="faAngleRight"></fa-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-lg-12">
                                <div class="card card-chart-terkonfirmasi">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h3>Chart Harian Terkonfirmasi Jawa Barat</h3>
                                            </div>
                                            <div class="col col-auto">
                                                <app-daterangepicker [dataFilters]="dataFilterHarian" (filterHarian)="filterHarianHandler($event)"></app-daterangepicker>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <app-chart-terkonfirmasi #chartTerkonfirmasi [data]="dataHarian" [dataFilters]="dataFilterHarian"></app-chart-terkonfirmasi>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-lg-4 mb-md-4 mb-lg-0">
                                <div class="card h-100 card-chart-terkonfirmasi">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h3>Jenis Kelamin</h3>
                                            </div>
                                            <div class="col col-auto">
                                                <select [ngModel]="selectedJenisKelamin" class="form-control" id="filterJenisKelamin" (ngModelChange)="filterUmurJenisKelamin(0, $event)">
                                                    <option [value]="i" *ngFor="let jenis of dataJenisChart; index as i">{{ jenis.text }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <app-chart-jenis-kelamin #chartJenisKelamin [data]="dataRekap" [dataFilters]="dataFilterJenisKelamin"></app-chart-jenis-kelamin>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card h-100 card-chart-terkonfirmasi">
                                    <div class="card-header">
                                        <div class="row align-items-center">
                                            <div class="col">
                                                <h3>Umur dan Jenis Kelamin</h3>
                                            </div>
                                            <div class="col col-auto">
                                                <select [ngModel]="selectedUmurType" class="form-control" id="filterUmurType" (ngModelChange)="filterUmurJenisKelamin(2, $event)">
                                                    <option [value]="i" *ngFor="let jenis of dataJenisUmur; index as i">{{ jenis.text }}</option>
                                                </select>
                                            </div>
                                            <div class="col col-auto">
                                                <select [ngModel]="selectedUmur" class="form-control" id="filterUmur" (ngModelChange)="filterUmurJenisKelamin(1, $event)">
                                                    <option [value]="i" *ngFor="let jenis of dataJenisChart; index as i">{{ jenis.text }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <app-chart-umur #chartUmur [data]="dataRekap" [dataFilters]="dataFilterUmur"></app-chart-umur>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>Statistik</a>
                    <ng-template ngbNavContent>
                        <div class="row mb-5">
                            <div class="col-lg-6">
                                <div class="card" id="chart-terkonfirmasi-card">
                                    <div class="card-header">
                                        <h3>Berdasarkan Harian</h3>
                                    </div>
                                    <div class="card-body">
                                        <app-chart-terkonfirmasi #chartTerkonfirmasi2 [data]="dataHarian"></app-chart-terkonfirmasi>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card" id="chart-terkonfirmasi-card">
                                    <div class="card-header">
                                        <h3>Berdasarkan Jenis Kelamin</h3>
                                    </div>
                                    <div class="card-body">
                                        <app-chart-jenis-kelamin #chartJenisKelamin2 [data]="dataRekap"></app-chart-jenis-kelamin>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-3"></div>
        </div>
    </div>
</div>